<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
   <test  name="Regression 2" thread-count="5" parallel="classes"> 
     <classes>
         <class name="Scripts.CreateOrderWCC"/> 
         <class name="Scripts.CreateOrderWCC2"/> 
      
    </classes>
  </test> <!---->
</suite> <!-- Suite --> 

